/* fonts to use from, copy and paste the font you want
font-family: 'Righteous', cursive;
font-family: 'Abril Fatface', cursive;
font-family: 'Courgette', cursive;
font-family: 'Encode Sans Condensed', sans-serif;
font-family: 'Shadows Into Light Two', cursive;
*/

/* Color palette
#F7FF70  YELLOW
#FFC3BD PINK
#91EC9E GREEN
#D8FFDF LIGHT BLUE
#66C8D1 BLUE */

body {
  margin: 0;
  font-family: 'Righteous', cursive;
  background-color: #FFC3BD;
}
/* Navigation Bar style */
.topnav {
  overflow: hidden;
  background-color: #91EC9E;
}

.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
h1{
  text-align: center ;
}
h2{
  text-align: center ;
}
body{
  text-align: center
}


.topnav a:hover {
  background-color: #D8FFDF;
  color: grey;
}

.active {
  background-color: #66C8D1;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*End of navigation bar*/

.bod {
  font-family: 'Encode Sans Condensed', sans-serif;
  color: grey;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: none;
    background-color: #FFC3BD;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #D8FFDF;
  color: grey;
  border: none;
  border-top: none;
  outline: none;
  border-bottom: none;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #66C8D1;
  color: white;
  border: none;
  border-top: none;
  outline: none;
  border-bottom: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
    border-top: none;
    outline: none;
    border-bottom: none;
}
